<t-extend template="cube:layouts/base.html">
<t-define name="head">
<link rel="stylesheet" t-var:href="assets.cube.css.cube.path" />
</t-define>
<t-define name="body">
<t-include template="cube:blocks/skip-link.html" />
<header class="wrapper" style="padding-block: 0.5em;">
<nav aria-label="Site">
<t-for link in site.nav>
<t-let name="full_href"><t-var name="site.path" /><t-var name="link.href" /></t-let>
<a t-var:href="full_href" style="margin-right: 1em;"><t-var name="link.name" /></a>
</t-for>
</nav>
</header>
<main id="main-content" class="wrapper region flow prose">
<t-slot />
</main>
</t-define>
</t-extend>
