<t-extend template="cube:layouts/base.html">
<t-define name="head">
<link rel="stylesheet" t-var:href="assets.cube.css.cube.path" />
<link rel="stylesheet" t-var:href="assets.highlights.css.colors.path" />
<link rel="stylesheet" t-var:href="assets.highlights.css.syntax.path" />
<link rel="stylesheet" t-var:href="assets.system.css.system.path" />
</t-define>
<t-define name="body">
<t-include template="cube:blocks/skip-link.html" />
<header class="system-header wrapper">
<nav class="repel" aria-label="Site">
<div>
<h1><t-var name="site.title">System</t-var></h1>
<span class="system-breadcrumb"> &rsaquo; <t-var name="document.title">Page</t-var></span>
</div>
<span style="font-size: 0.8rem;">
<t-for link in site.nav>
<t-let name="full_href"><t-var name="site.path" /><t-var name="link.href" /></t-let>
<a t-var:href="full_href" style="margin-left: 0.75em;"><t-var name="link.name" /></a>
</t-for>
</span>
</nav>
</header>
<main id="main-content" class="wrapper region flow prose">
<t-slot />
</main>
<footer class="system-footer wrapper">
<span>Built with <a href="https://github.com/QuiteClose/wig">Wig</a></span>
</footer>
</t-define>
</t-extend>
