<header class="wrapper region">
<nav class="repel" aria-label="Site">
<t-let name="home_href"><t-var name="site.path" /></t-let>
<a t-var:href="home_href"><strong><t-var name="site.title">Site</t-var></strong></a>
<span>
<t-for link in site.nav>
<t-let name="full_href"><t-var name="site.path" /><t-var name="link.href" /></t-let>
<a t-var:href="full_href" style="margin-left: 1em;"><t-var name="link.name" /></a>
</t-for>
<t-include template="highlights:blocks/theme-picker.html" />
</span>
</nav>
</header>
