<t-extend template="cube:layouts/base.html">
<t-define name="head">
<link rel="stylesheet" t-var:href="document.style.css.path" />
</t-define>
<t-define name="body">
<t-include template="cube:blocks/skip-link.html" />
<main id="main-content" class="wrapper region flow">
<article class="prose flow">
<t-slot />
<t-if var="document.style.tokens.computed.spacing">
<h2>Individual steps</h2>
<t-if var="document.style.tokens.computed.spacing.individual">
<table class="pattern-table">
<thead><tr><th>Name</th><th>Value</th></tr></thead>
<tbody>
<t-for space in document.style.tokens.computed.spacing.individual>
<tr>
<td><code>--space-<t-var name="space.name" /></code></td>
<td><code><t-var name="space.value" /></code></td>
</tr>
</t-for>
</tbody>
</table>
</t-if>
<t-if var="document.style.tokens.computed.spacing.pairs">
<h2>One-up pairs</h2>
<table class="pattern-table">
<thead><tr><th>Name</th><th>Value</th></tr></thead>
<tbody>
<t-for pair in document.style.tokens.computed.spacing.pairs>
<tr>
<td><code>--space-<t-var name="pair.name" /></code></td>
<td><code><t-var name="pair.value" /></code></td>
</tr>
</t-for>
</tbody>
</table>
</t-if>
<t-else />
<p><em>No spacing tokens are defined for the current style.</em></p>
</t-if>
</article>
</main>
</t-define>
</t-extend>
