<t-extend template="cube:layouts/base.html">
<t-define name="head">
<link rel="stylesheet" t-var:href="assets.cube.css.cube.path" />
<link rel="stylesheet" t-var:href="assets.default.css.surface.path" />
</t-define>
<t-define name="body">
<t-include template="cube:blocks/skip-link.html" />
<header class="wrapper" style="padding-block: 0.5em;">
<nav aria-label="Site">
<a href="/demo/default/preview/">Home</a>
<a href="/demo/default/preview/about/" style="margin-left: 1em;">About</a>
<a href="/demo/default/preview/blog/" style="margin-left: 1em;">Blog</a>
</nav>
</header>
<main id="main-content" class="wrapper region flow">
<t-slot />
</main>
</t-define>
</t-extend>
